.time {
  margin: 50px 0px;
  font-size: 26px;
}

.time > span:nth-child(1) {
  font-size: 60px;
  font-weight: 600;
}
.time > span:nth-child(2) {
  font-size: 40px;
  padding-left: 4px;
}

.btn > button {
  margin: 0px 4px;
  background-color: darkblue;
  color: #fff;
  outline: none;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  width: 100px;
  border-radius: 4px;
  cursor: pointer;
}

.btn > button:nth-child(2) {
  background-color: #fff;
  outline: 2px solid darkblue;
  color: darkblue;
}

.input {
  margin: 50px 0px;
}

.input > input {
  border: none;
  border-bottom: 2px solid darkblue;
  font-size: 20px;
  outline: none;
  padding: 10px;
}
